{% extends 'base.html.twig' %}
{% block title %}Episode{% endblock %}
{% block body %}
    <h1>Série: {{ program.title }}</h1>
    <h2>Saison: {{ season.number }}</h2>
    <h3>Episode: {{ episode.title }} / {{ episode.number }}</h3>
    <h4>Résumé: {{ episode.synopsis }}</h4>
    
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}