{% extends 'base.html.twig' %}
{% block title %}Episodes{% endblock %}
{% block body %}
    <h1> Tout les épisodes:  </h1>
    {% for episode in episodes %}
        <div>
            <h2>{{ episode.id }} / {{ episode.title }} / {{ episode.number }}</h2>
            <p>{{ episode.synopsis }}</p>
            <a href="{{ path("program_episode_show", { "program": 1, "season": 2, "episode": 3 }) }}">Voir l'épisode</a>
        </div>
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}